/node_modules
/.next
/out
/build
/dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
.env
.nyc_output
/coverages
/.cache
.tmp
.temp
tmp/
temp/
.DS_Store
Thumbs.db
.vscode/
.idea/
.editorconfig
postcss.config.mjs
next-env.d.ts